<div class="container">
  <div id="header">
    <ul>
      <li><a class="active" routerLink="home">Home</a></li>
      <li><a routerLink="news">News</a></li>
      <li><a routerLink="wizard">Wizard</a></li>
      <li><a routerLink="contact">Contact</a></li>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="multi-tabs">Multi-Tab</a></li>
      <li><a routerLink="tables-cards">Tables-Cards</a></li>
      <li><a routerLink="employee-list">EmployeeList</a></li>
      <li><a routerLink="parent">Parent</a></li>
      <li><a routerLink="pipes-lobby">pipes-lobby</a></li>
      <li><a routerLink="users">UserList</a></li>
    </ul>
  </div>
  <div id="main">
    <div id="left-side-bar">
      <ul [ngClass]="'list-group'">
        <li [ngClass]="'list-group-item'">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li [ngClass]="{ myColor: apply }">A fourth item</li>
        <li [ngClass]="['list-group-item', 'myColor']">And a fifth one</li>
      </ul>
      <button (click)="toggle()">Click me for Magic</button>
    </div>
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div id="footer"></div>
</div>
